@model ButtonViewModel
@{
    Layout = "_LayoutPhone";
    ViewData["Title"] = "Crop the Button";
}

@section Scripts
{
    <script src="~/lib/cropperjs/cropper.min.js" type="text/javascript"></script>
    <script src="~/js/crop.js" asp-append-version="true" type="text/javascript"></script>
}

<form id="crop-form" method="post" asp-route-id="@Model.Id" class="flex-container">
    <input type="hidden" name="x" value="@Model.Crop.Offset.x" />
    <input type="hidden" name="y" value="@Model.Crop.Offset.y" />
    <input type="hidden" name="width" value="@Model.Crop.Size.x" />
    <input type="hidden" name="height" value="@Model.Crop.Size.y" />
    <input type="hidden" name="scaleX" value="@Model.Crop.Scale.x" />
    <input type="hidden" name="scaleY" value="@Model.Crop.Scale.y" />
    <div class="fill-box border">
        <div class="crop-filled"><img id="crop-image" src="~/buttons/@Model.Path" /></div>
    </div>
    <button type="button" id="crop-reset">Reset</button>
    <button type="submit">Next</button>
</form>
